* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #ed563b;
  --secondary-color: #222;
  --padding: 50px;
  --margin: 50px;
}

body {
  width: 100%;
  overflow-x: hidden;

}

.container {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-button {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: .3s;
  text-transform: uppercase;
}
.main-button .link{
  color: white;
  transition: .3s;
}

.main-button:hover {
  background-color: white;
  color: var(--main-color);
}

.icon {
  color: var(--main-color);
  font-size: 1.5rem;
  transition: .2s;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.2);
}
.active{
  color:var(--main-color);
}